img {
  max-height: 300px;
}

.dropdown-menu {
  li {
    text-align: center;
    &:hover {
      background-color: #f8f9fa;
    }
    a {
      color: #000000;
      text-decoration: none;
    }
  }
}
